<h1 class="title">Event Approval List</h1>
<br>

<a [routerLink]="['/events/approved']" mat-raised-button class="customclr firstbtn">Approved Events </a>
<a [routerLink]="['/dashboard']"  mat-raised-button class="customclr customclr-active">Events Approval</a>
<a [routerLink]="['/events/list']" mat-raised-button class="customclr">All Events Status </a>

<table class="table table-hover custom-table">
    <thead>
        <tr>
            <th scope="col">S No.</th>
            <th scope="col">Event Title</th>
            <th scope="col">Club</th>
            <th scope="col">Date</th>
            <th scope="col">Venue</th>
            <th scope="col">Time</th>
            <th class="dpcoord" scope="col">Dept Coord.</th>
            <th scope="col">HOD</th>
            <th scope="col">Dean</th>
            <th scope="col">IQAC</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events; let i = index">
            <th>{{ i + 1 }}.</th>
            <td>{{ event.eventTitle }}</td>
            <td>{{ event.clubName }}</td>
            <td>{{ event.date }}</td>
            <td>{{ event.venue }}</td>
            <td>{{ event.time }}</td>
            <td class="dpcoord">
                <button *ngIf="event.departmentCoordinatorApproval" mat-icon-button class="mat-icon-button large-icon" color="primary" matTooltip="Approved"><mat-icon class="check-icon">check_circle</mat-icon></button>
                <button *ngIf="!event.departmentCoordinatorApproval" mat-icon-button class="mat-icon-button large-icon" color="warn" matTooltip="Not Approved"><mat-icon>cancel</mat-icon></button>
            </td>
            <td>
                <button *ngIf="event.hodApproval" mat-icon-button class="mat-icon-button large-icon" color="primary" matTooltip="Approved"><mat-icon class="check-icon">check_circle</mat-icon></button>
                <button *ngIf="!event.hodApproval" mat-icon-button class="mat-icon-button large-icon" color="warn" matTooltip="Not Approved"><mat-icon>cancel</mat-icon></button>
            </td>
            <td>
                <button *ngIf="event.deanApproval" mat-icon-button class="mat-icon-button large-icon" color="primary" matTooltip="Approved"><mat-icon class="check-icon">check_circle</mat-icon></button>
                <button *ngIf="!event.deanApproval" mat-icon-button class="mat-icon-button large-icon" color="warn" matTooltip="Not Approved"><mat-icon>cancel</mat-icon></button>
            </td>
            <td>
                <button *ngIf="event.iqacApproval" mat-icon-button class="mat-icon-button large-icon" color="primary" matTooltip="Approved"><mat-icon class="check-icon">check_circle</mat-icon></button>
                <button *ngIf="!event.iqacApproval" mat-icon-button class="mat-icon-button large-icon" color="warn" matTooltip="Not Approved"><mat-icon>cancel</mat-icon></button>
            </td>
            <td>
                
                <button mat-mini-fab class="mat-icon-button leftShift" (click)="viewEvent(event.id)" class="viewclr" matTooltip="View Event"><mat-icon>visibility</mat-icon></button>
                
            </td>
        </tr>
    </tbody>
</table>
