<h2 class="custom-dialog-title">{{data.name | uppercase}}</h2>
<button class="close-button" mat-dialog-close>X</button>
<mat-dialog-content class="custom-dialog-content">
  Are you sure you want to disapprove <strong>{{data.name}}</strong>?
</mat-dialog-content>
<mat-dialog-actions class="custom-dialog-actions">
    <button mat-button class="action-button disapprove" [mat-dialog-close]="'disapprove'">Disapprove</button>
  <button mat-button class="action-button cancel" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
