<h1 class="title">Forgot Password</h1>

<mat-card class="forgot-password-card">
  <form #f="ngForm" (ngSubmit)="onSubmitEmail(f)" class="forgot-password-form">

    <mat-error *ngIf="error" class="general-error">{{ error }} <br></mat-error>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="text" name="email" ngModel #email="ngModel" required email>
      <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error>
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Invalid email address.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="full-width">Send OTP</button>

    <br>
    <a [routerLink]="['/login']"><h4>Back to Login</h4></a>
  </form>
</mat-card>
