<!-- reset-password.component.html -->
<h1 class="title">Reset Password</h1>

<mat-card class="reset-password-card">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="reset-password-form">

    <mat-error *ngIf="error" class="general-error">{{ error }} <br></mat-error>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="text" name="email" ngModel #email="ngModel" required email>
      <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error>
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Invalid email address.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput type="password" name="newPassword" ngModel #newPassword="ngModel" required>
      <mat-error *ngIf="newPassword.hasError('required')">New password is required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" name="confirmPassword" ngModel #confirmPassword="ngModel" required>
      <mat-error *ngIf="confirmPassword.hasError('required')">Confirm password is required.</mat-error>
      <mat-error *ngIf="newPassword.value !== confirmPassword.value">Passwords do not match.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="full-width">Reset Password</button>

    <br>
    <a [routerLink]="['/login']"><h4>Back to Login</h4></a>
    
  </form>
</mat-card>
