.dialog-title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-left: 16px;
    padding: 30px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .close-button {
    margin: -16px -16px 0 0;
  }
  
  .dialog-content {
    padding: 20px;
    font-size: 1rem;
    text-align: center;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 16px;
  }
  
  .success{
    color: white;
    background-color: green;
  }

  .dialog-actions button {
    width: 80px;
    transition: transform 0.3s;
  }
  
  .dialog-actions button:hover {
    transform: scale(1.1);
  }
  
  .dialog-actions .success {
    color: white;
    background-color: green;
  }
  
  .dialog-actions .warn {
    color: white;
  }
  