.custom-navbar {
  background-color: #4B0082;
  padding: 10px 20px;
}

.custom-navbar .navbar-brand {
  color: white; /* Deep purple to match h1 color */
  font-size: 1.5rem;
  text-transform: uppercase;
}

.custom-navbar .navbar-nav .nav-link {
  color: white; /* Deep purple for nav links */
  margin-right: 15px;
  font-size: 1.1rem;
  transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}

.logo {
  font-family: 'Arial Black', sans-serif; /* Change to a bold font of your choice */
  font-size: 1.8rem; /* Increase font size for prominence */
  color: #4B0082; /* Set the color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
  padding: 10px 15px; /* Add padding */
  border-radius: 5px; /* Slightly round corners */
  background-color: rgba(255, 255, 255, 0.8); /* Optional background */
}


.pointer {
  cursor: pointer;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: #4B0082; /* White on hover */
  background-color:white; /* Deep purple background on hover */
  border-radius: 5px;
}

.custom-navbar .navbar-toggler {
  border-color: rgba(75, 0, 130, 0.85); /* Deep purple border */
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
