<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
  <div class="container-fluid">
    <a [routerLink]="['/home']" class="navbar-brand nav-text logo">ES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link nav-text" aria-current="page" href="#">Events List</a>
        <a class="nav-link nav-text" href="#">About</a>
        <a class="nav-link nav-text" href="#">Clubs</a>
        <a [routerLink]="['/dashboard']" class="nav-link nav-text">Create Events</a>
      </div>
      <div *ngIf="email" class="navbar-nav ms-auto">
        <span class="nav-link nav-text">{{email}}</span>
        <a  (click)="logout()" class="nav-link nav-text pointer">Logout</a>
      </div>
    </div>
  </div>
</nav>
