<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
  <div class="container-fluid">
    <a [routerLink]="['/home']" class="navbar-brand nav-text logo">ES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link nav-text" aria-current="page" href="#">Events List</a>
        <a class="nav-link nav-text" href="#">About</a>
        <a class="nav-link nav-text" href="#">Clubs</a>
        <a [routerLink]="['/dashboard']" class="nav-link nav-text">Create Events</a>
        <a *ngIf="role === 'ADMIN'" [routerLink]="['/users']" class="nav-link nav-text">Users</a>
      </div>

      <!-- Conditional Nav Links -->
      <div *ngIf="email" class="navbar-nav ms-auto">
        <a mat-button [matMenuTriggerFor]="userMenu" class="nav-link nav-text pointer">
          {{email}}
          <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
        </a>
        
        <mat-menu #userMenu="matMenu" class="custom-menu">
          <button mat-menu-item (click)="logout()">Logout</button>
          <button mat-menu-item (click)="viewProfile(userId)">Profile</button>
          
        </mat-menu>
      </div>

      <div *ngIf="!email" class="navbar-nav ms-auto">        
        <a [routerLink]="['/dashboard']" class="nav-link nav-text pointer">Login</a>
      </div>
    </div>
  </div>
</nav>
