<h1 class="title">Your Events Status</h1>
<br>

<!-- customclr, title, viewclr-->

<a [routerLink]="['/event/create']"  mat-raised-button class="firstbtn customclr">Create Event <mat-icon>add</mat-icon></a>
<a [routerLink]="['/dashboard']" mat-raised-button class="customclr customclr-active">Your Event Status </a>
<a [routerLink]="['/events/list']" mat-raised-button class="customclr">All Events Status </a>
<a [routerLink]="['/events/list']" mat-raised-button class="customclr">Attendance Management </a>
<a [routerLink]="['/events/list']" mat-raised-button class="customclr">Event Photos </a>
<a [routerLink]="['/events/list']" mat-raised-button class="customclr">Event Completion Report </a>

<table class="table table-hover custom-table">
    <thead>
        <tr>
            <th scope="col">S No.</th>
            <th scope="col">Event Title</th>
            <th scope="col">Club</th>
            <th scope="col">Date</th>
            <th scope="col">Venue</th>
            <th scope="col">Time</th>
            <th class="dpcoord" scope="col">Dept Coord.</th>
            <th scope="col">HOD</th>
            <th scope="col">Dean</th>
            <th scope="col">IQAC</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events; let i = index">
            <th>{{ i + 1 }}.</th>
            <td>{{ event.eventTitle }}</td>
            <td>{{ event.clubName }}</td>
            <td>{{ event.date | date: 'dd/MM/yyyy' }}</td>
            <td>{{ event.venue }}</td>
            <td>{{ event.time }}</td>
            <td class="dpcoord">
                <button *ngIf="event.departmentCoordinatorApproval" mat-icon-button class="mat-icon-button large-icon" color="primary" matTooltip="Approved"><mat-icon class="check-icon">check_circle</mat-icon></button>
                <button *ngIf="!event.departmentCoordinatorApproval && event.disapproved" mat-icon-button class="mat-icon-button large-icon" color="warn" matTooltip="Not Approved"><mat-icon>cancel</mat-icon></button>
                <button *ngIf="!event.departmentCoordinatorApproval && !event.disapproved" mat-icon-button class="mat-icon-button large-icon "  matTooltip="Not Viewed"><mat-icon>remove_circle</mat-icon></button>
            </td>
            <td>
                <button *ngIf="event.hodApproval" mat-icon-button class="mat-icon-button large-icon" color="primary" matTooltip="Approved"><mat-icon class="check-icon">check_circle</mat-icon></button>
                <button *ngIf="!event.hodApproval && event.disapproved" mat-icon-button class="mat-icon-button large-icon" color="warn" matTooltip="Not Approved"><mat-icon>cancel</mat-icon></button>
                <button *ngIf="!event.hodApproval && !event.disapproved" mat-icon-button class="mat-icon-button large-icon "  matTooltip="Not Viewed"><mat-icon>remove_circle</mat-icon></button>
            </td>
            <td>
                <button *ngIf="event.deanApproval" mat-icon-button class="mat-icon-button large-icon" color="primary" matTooltip="Approved"><mat-icon class="check-icon">check_circle</mat-icon></button>
                <button *ngIf="!event.deanApproval && event.disapproved" mat-icon-button class="mat-icon-button large-icon" color="warn" matTooltip="Not Approved"><mat-icon>cancel</mat-icon></button>
                <button *ngIf="!event.deanApproval && !event.disapproved" mat-icon-button class="mat-icon-button large-icon "  matTooltip="Not Viewed"><mat-icon>remove_circle</mat-icon></button>
            </td>
            <td>
                <button *ngIf="event.iqacApproval" mat-icon-button class="mat-icon-button large-icon" color="primary" matTooltip="Approved"><mat-icon class="check-icon">check_circle</mat-icon></button>
                <button *ngIf="!event.iqacApproval && event.disapproved" mat-icon-button class="mat-icon-button large-icon" color="warn" matTooltip="Not Approved"><mat-icon>cancel</mat-icon></button>
                <button *ngIf="!event.iqacApproval && !event.disapproved" mat-icon-button class="mat-icon-button large-icon "  matTooltip="Not Viewed"><mat-icon>remove_circle</mat-icon></button>
            </td>
            <td>
                <button mat-mini-fab class="mat-icon-button" color="primary" (click)="editEvent(event.id)" matTooltip="Edit Event"><mat-icon>edit</mat-icon></button>
                <button mat-mini-fab class="mat-icon-button leftShift" (click)="viewEvent(event.id)" class="view-clr" matTooltip="View Event"><mat-icon>visibility</mat-icon></button>
                <button mat-mini-fab class="mat-icon-button leftShift" (click)="openDeleteDialog('0ms','0ms',event.eventTitle,event.id)" color="warn" matTooltip="Delete Event"><mat-icon>delete</mat-icon></button>
            </td>
        </tr>
    </tbody>
</table>
